.title {
  font-weight: 700;
}

.taskWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 50px;
  .taskDescription {
    display: grid;
    p {
      font-weight: 700;
    }
    .rightAlignedBlock {
      display: grid;
      justify-items: center;
    }
  }
  .taskList {
    padding: 0;
  }
  .inputPanel {
    .inputField {
      border-radius: 50px;
      border: none;
      background-color: gainsboro;
      height: 30px;
      padding: 10px;
      outline: none;
    }
    .submitBtn {
      margin-left: 5px;
      border-radius: 50px;
      border: none;
      background-color: blueviolet;
      height: 30px;
      width: 60px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 799px) {
  .taskWrapper {
    min-width: 90vw;
    min-height: 90vh;
    .taskDescription {
      min-width: 80vw;
      grid-template-rows: 50px;
      grid-template-columns: 60% 40%;
      p {
        font-weight: 700;
      }
      .rightAlignedBlock {
        grid-template-columns: 50% 50%;
      }
    }
    .taskList {
      max-width: 80vw;
    }
    .inputPanel {
      .inputField {
        width: 50vw;
      }
      .submitBtn {
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .taskWrapper {
    min-width: 50vw;
    min-height: 50vh;
    padding: 50px;
    margin: 100px;
    .taskDescription {
      min-width: 40vw;
      grid-template-rows: 50px;
      grid-template-columns: 60% 40%;
      p {
        font-weight: 700;
      }
      .rightAlignedBlock {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
      }
    }
    .taskList {
      max-width: 40vw;
      padding: 0;
    }
    .inputPanel {
      .inputField {

      }
      .submitBtn {

      }
    }
  }
}